.headline-2 {
    @apply text-3xl font-semibold max-w-max;
    background: -webkit-radial-gradient(0deg, #fafafa, #a1a1aa);
    -webkit-background-clip: text;
    background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    /* color: transparent; */
}

@media (min-width: 1024px) {
    .headline-2 {
        @apply text-4xl leading-tight
    }
}

.container {
    @apply px-4 mx-auto
}

@media (min-width: 1024px) {
    .container {
        @apply px-8
    }
}

@media (min-width: 1280px) {
    .container {
        @apply max-w-6xl
    }
}

.section {
    @apply pt-20
}

@media (min-width: 1280px) {
    .section {
        @apply pt-32
    }
}

/* ////////ProjectCard////////// */

.title-1{
    @apply text-[22px] font-normal
}